*.dvi
*.nav 
*.out 
*.snm
*.vrb
*.nav
*.out
*.bbl
*.aux
*.log
*.blg
*.toc
*.qry
*.synctex.gz
prob.pdf
lm.pdf
hmm.pdf
linearmodels.pdf
mtintro.pdf
ibm123.pdf
ambiguity.pdf
cfg.pdf
probcfg.pdf
linearseq.pdf
ff.pdf
nlm.pdf
wordvectors.pdf
